.tabs {
  clear: both;
  overflow: hidden; }
  .tabs a {
    height: 4.4em;
    padding: 15px 0 10px 0;
    font-size: 1em;
    font-weight: 300;
    text-decoration: none;
    color: #cccccc;
    text-align: center;
    -webkit-transition: ease .4s;
    -o-transition: ease .4s;
    transition: ease .4s; }
    .tabs a:hover {
      color: #ffffff;
      -webkit-transition: ease .4s;
      -o-transition: ease .4s;
      transition: ease .4s;
      text-decoration: none; }
    .tabs a.active {
      color: #ffffff; }
    .tabs a.active:hover::after {
      width: 0%; }
    .tabs a::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: #dc3545;
      -webkit-transition: width .3s;
      -o-transition: width .3s;
      transition: width .3s; }
    .tabs a:hover::after {
      width: 100%; }

.register__box a:hover::after {
  width: 0; }

.bar:hover {
  padding-top: 10px; }

.remember_pass {
  color: #000000 !important; }

.active {
  border-bottom: 3px solid white; }

.register__item:active {
  border-bottom: none; }

.tabs-container.js .tab-content {
  display: none; }

.tabs-container.js .tab-content.active {
  display: block; }
