/**
*Styl BJ. tylko do stylizacji tymczasowej
 */

#settings {
    display: none; }

th.Nd, th.Sob {
    background-color: #c8c8c8; }

td.Nd, td.Sob {
    background-color: rgba(200, 200, 200, 0.3); }

td.tdHarmCell {
    padding: 0px !important; }

td.tdHarmCell > label {
    cursor: pointer; }

input.harmoCheck:checked ~ div.harmoCell {
    background-color: rgba(255, 0, 0, 0.5); }

div.harmoCell {
    padding: 8px !important; }

.harmoCell input {
    border: none; }

.bottom {
    position: absolute;
    bottom: 0;
    left: 0; }

table.table-grafik {
    width: auto !important;
    display: inline-block; }

table.table-grafik th {
    text-align: center; }

table.table-grafik td, table.table-grafik th {
    border-left: 1px solid rgba(220, 220, 220, 0.8);
    padding: 4px !important; }

table.table-grafik td.scale {
    width: 60px;
    text-align: center; }

.my-own-select {
    padding: 2px 8px;
    border: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    text-align: center; }

.my-own-select option {
    text-align: center; }

table.table-calendar {
    width: 100%; }

table.table-calendar tr td {
    border: 1px solid rgba(220, 220, 220, 0.6);
    width: 14.2%;
    height: 40px; }

table.table-calendar tr:first-child td {
    border: none !important; }

.zmiana-1 {
    background-color: rgba(255, 255, 153, 0.6); }

.zmiana-2 {
    background-color: rgba(153, 255, 102, 0.6); }

.zmiana-3 {
    background-color: rgba(255, 153, 153, 0.6); }

/*
        Tymczasowe klasy do szablonu rozkazu
         */
.szablon_element {
    display: inline-block;
    border-radius: 5px;
    padding: 4px;
    margin: 4px;
    white-space: nowrap; }

.jrg_const {
    background-color: #999999; }

.jrg_var {
    background-color: #c69500; }

.jrg_list {
    background-color: #9fcdff; }

.jrg_obj {
    background-color: #1e7e34; }

.align-right {
    text-align: right; }

.align-left {
    text-align: left; }

.no-margin {
    margin: 2px; }
.tdHarmCell:last-of-type {
   border-right: 1px solid #9d9d9d;
}