/**
*Styl BJ. tylko do stylizacji tymczasowej
 */

#settings {
    display: none; }

.no-display {
    display: none;
}

th.Nd, th.Sob {
    background-color: #c8c8c8; }

td.Nd, td.Sob {
    background-color: rgba(200, 200, 200, 0.3); }

td.tdHarmCell {
    padding: 0px !important; }

td.tdHarmCell > label {
    cursor: pointer; }

input.harmoCheck:checked ~ div.harmoCell {
    background-color: rgba(255, 0, 0, 0.5); }

div.harmoCell {
    padding: 8px !important; }

.harmoCell input {
    border: none; }

.bottom {
    position: absolute;
    bottom: 0;
    left: 0; }

table.table-grafik {
    width: auto !important;
    display: inline-block; }

table.table-grafik th {
    text-align: center; }

table.table-grafik td, table.table-grafik th {
    border-left: 1px solid rgba(220, 220, 220, 0.8);
    padding: 4px !important; }

table.table-grafik td.scale {
    width: 60px;
    text-align: center; }

.my-own-select {
    padding: 2px 8px;
    border: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    text-align: center; }

.my-own-select option {
    text-align: center; }

table.table-calendar {
    width: 100%; }

table.table-calendar tr td {
    border: 1px solid rgba(220, 220, 220, 0.6);
    width: 14.2%;
    height: 40px; }

table.table-calendar tr:first-child td {
    border: none !important; }

.zmiana-1 {
    background-color: rgba(255, 255, 153, 0.6); }

.zmiana-2 {
    background-color: rgba(153, 255, 102, 0.6); }

.zmiana-3 {
    background-color: rgba(255, 153, 153, 0.6); }

/*
        Tymczasowe klasy do szablonu rozkazu
         */
.szablon_element {
    display: inline-block;
    border-radius: 5px;
    padding: 4px;
    margin: 4px;
    white-space: nowrap; }

.jrg_const {
    background-color: #999999; }

.jrg_var {
    background-color: #c69500; }

.jrg_list {
    background-color: #9fcdff; }

.jrg_obj {
    background-color: #1e7e34; }



.no-margin {
    margin: 2px; }
.tdHarmCell:last-of-type {
   border-right: 1px solid #9d9d9d;
}

#szablon_container {
    min-height:150px;
    padding-bottom:16px;
    background-color: white;
}
#szablon_container *:hover {
    outline:2px dotted rgba(0,0,0,0.2);
    outline-offset: -1px;
}
.highlight-element {
    outline:4px dashed rgba(0,255,0,0.2) !important;
    outline-offset: -2px !important;
}

.newEmptyElement {
    position: relative;
    min-height:6px;
    min-width:6px;
    box-sizing: border-box;
    outline:1px dashed rgba(0,0,0,0.1);
    padding:0 4px 8px 4px;
}
.newEmptyElement:empty{
    padding:6px;
}

.radio-btn:checked ~ span {
    background-color:rgba(0,0,0,0.5);
}

.listy-btn {
  background-color:#5bc0de;
    display:inline-block;
    margin:2px;
    padding:2px;
}

.zmienne-btn {
    background-color:#5cb85c;
}
.no-wrap {
    white-space: nowrap;
}

.popover {
    max-width:none !important; ;
}
.close-span {
    position: absolute;
    top:0;
    right:0;
    z-index:5;
    padding:5px;
    display: inline-block;
}
.backlight-element {
    background-color:rgba(0,0,0,0.3) !important;
}
#szablon_tree {
    padding-right:25px;
    font-size:75%;
    overflow: scroll;
    height:400px;
    resize: vertical;
}
ul.no-wrap * {
    white-space: nowrap;
}
ul.newEmptyElement::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 300%;
    content: "\f03a";

}
/*
klasy szablonu / rozkazu
 */

span.max-width, input.max-width, select.max-width, h2.max-width {
    display: block;
   width:100% !important;
}

table.szablonTable {
    border-collapse: collapse;
    margin:auto auto;
}
.podglad-rozkazu input, .podglad-rozkazu select {
    border:none;
    background-color: transparent;
}
table.w3-border, table.w3-border th, table.w3-border td {
    border: 1px solid #9A9A9A !important;
}

table.t2 { width: 18%;}
table.t3 { width: 25%;}
table.t4 { width: 33%;}
table.t6 { width: 50%;}
table.t8 { width: 66%;}
table.t10 { width: 82%;}
table.t12 { width: 100%;}

.auto-width {}
.align-right {
    text-align: right; }

.align-left {
    text-align: left; }

.tiny-size {
    font-size: 50%;
}
.smaller-size {
    font-size: 75%;
}
.normal-size {}

.bigger-size {
    font-size: 150%;
}
.jumbo-size {
    font-size: 200%;
}
div.w3-col:empty:before {
    content: "\a0";
}
.padding {
    padding:16px !important;
}

/*
STYLIZACJA ELEMENTOW SZABLONU
 */
.w3-row span, .w3-row input, .w3-row select {
    vertical-align: middle;
}