@import "mixin.scss";

main{
    min-height: 125vh !important;
    margin-top: 95px;
    background-image: url(../img/psp_logo_35.png);
    background-repeat: no-repeat;
    background-position: center; 
}
hr{
     margin: 45px 0px !important;
}
.error{
    color:red;
}
#settings{
    display: none;
}
th.Nd, th.Sob{
    background-color: rgb(200,200,200);
}
td.Nd, td.Sob {
    background-color: rgba(200,200,200,0.3);
}

td.tdHarmCell {
    padding: 0px !important;
}
td.tdHarmCell > label {
    cursor: pointer;
}
input.harmoCheck:checked ~div.harmoCell {
    background-color: rgba(255,0,0,0.5);
}
div.harmoCell {
    padding: 8px !important;
}
.harmoCell input {
    border:none;
}

.bottom{
    position: absolute;
    bottom: 0;
    left:0;
}
table.table-grafik{
    width:auto !important;
    display: inline-block;
}
table.table-grafik th{
    text-align: center;
}
table.table-grafik td,table.table-grafik th{
    border-left: 1px solid rgba(220,220,220,0.8);
    padding:4px !important;
}
table.table-grafik td.scale{
    width:60px;
    text-align: center;
}
.my-own-select{
    padding:2px 8px;
    border:none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    text-align: center;
}
.my-own-select option{
    text-align: center;
}
table.table-calendar{
    width: 100%;
}
table.table-calendar tr td{
    border:1px solid rgba(220,220,220,0.6);
    width:14.2%;
    height: 40px;
}
table.table-calendar tr:first-child td {
    border:none !important;
}
.zmiana-1{
    background-color: rgba(255, 255, 153,0.6);
}
.zmiana-2{
    background-color: rgba(153, 255, 102,0.6);

}
.zmiana-3{
    background-color: rgba(255, 153, 153,0.6);
}

        /*
        Tymczasowe klasy do szablonu rozkazu
         */
.szablon_element{
    display: inline-block;
    border-radius:5px;
    padding:4px;
    margin:4px;
    white-space: nowrap ;
}
.jrg_const{
    background-color: #999999;
}
.jrg_var{
    background-color: #c69500;
}

.jrg_list{
    background-color: #9fcdff;
}
.jrg_obj{
    background-color: #1e7e34;
}
.align-right{
    text-align: right;
}
.align-left{
    text-align: left;
}
.no-margin{
    margin:2px;
}

.navbar-nav{

@include screen('mobile'){
        width: 100%;
        height: 450px;
        flex-wrap: wrap;
        margin: 0;
        margin-right: auto;
    }
@include screen('smartphone'){
        width: 100%;
        height: 450px;
        flex-wrap: wrap;
        margin: 0;
        margin-right: auto;
    }
@include screen('smartphone-landscape'){
        width: 100%;
        height: 250px;
        flex-wrap: wrap;
        margin: 0;
        margin-right: auto;
    }
}


.rwd-table{
        @include screen('mobile'){
                font-size: .8rem;
                overflow-x:scroll;
        }

        @include screen('smartphone'){
                font-size: .8rem;
                overflow-x:scroll;
        }
        @include screen('smartphone-landscape'){
                font-size: .8rem;
                overflow-x:scroll;
}
}

    .table_crew{
        // width: 100%;
        // table-layout: auto;

    @include screen('mobile'){
        width: 100%;
        table-layout: auto;
    }
    @include screen('smartphone'){
         width: 100%;
        table-layout: auto;
    }
    @include screen('smartphone-landscape'){
        width: 100%;
        table-layout: auto;
    }
}


.shiftmanage_option_fireman{
    min-width: 70px;
}

.up_down_click{
    padding-left: 15px;
}

.jrg_manage_button{
    margin: 15px 0 15px 0;
}

.grfik_table{
    margin-top: 5vh;

    @include screen('mobile'){

    }
    @include screen('smartphone'){

            }
    @include screen('smartphone-landscape'){

            }

    }

.container_permiss{
            margin-top: 50px;

    @include screen('mobile'){
            position: unset !important;
            margin-top: 50px;
            width: 100% !important;
            height: 175px !important;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
    }

    @include screen('smartphone'){
            position: unset !important;
            margin-top: 50px;
            width: 100% !important;
            height: 150px !important;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
    }
    @include screen('smartphone-landscape'){
             position: unset !important;
            margin-top: 50px;
            width: 100% !important;
            height: 150px !important;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
                
    }

}

.check_permiss{
        top: 6;
        margin-right: 25px;
        width: 20px;
        height: 20px;
        @include screen('mobile'){
            top: 0;
            margin-right: 10px;
            width: 20px;
            height: 20px;
        }
        @include screen('smartphone'){
            top: 0;
            margin-right: 10px;
            width: 20px;
            height: 20px;
        }
        @include screen('smartphone-landscape'){
            top: 0;
            margin-right: 10px;
            width: 20px;
            height: 20px;
        }
}