@import "mixin.scss";

html{
	position: relative;
}
body{
	margin: 0;
	font-size: 15px;
	font-family: Lato !important;
}

h1{
	position: relative;
	// z-index: 90;
	text-align: center;
	padding: 5px;
	background: #dc3545;
	color: #ffffff !important;
	-webkit-box-shadow: 0px 10px 23px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 23px -10px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 23px -10px rgba(0,0,0,0.75);
		@include screen('mobile'){
			font-size: 1.2rem !important;
		}
		@include screen('smartphone'){
			font-size: 1.5rem !important;
		}
}

nav{
	background: #343a40;
	padding: 0 10px 0 10px !important;
	min-height: 60px;
}

main{
	min-height: 100vh !important;
}

.nav-item{
	text-align: center;
	border-radius: 0 !important;
	transition: ease .4s;
&:hover{
		padding-top: 2px !important;
		color: #efefef !important;
		transition: ease .4s;
	@include screen('mobile'){
		padding-top: .5rem !important;
	}
	@include screen('smartphone'){
		padding-top: .5rem !important;
	}
	@include screen('smartphone-landscape'){
		padding-top: .5rem !important;
	}
	@include screen('tablet'){
		padding-top: .5rem !important;
	}
}
&.active{
		&:hover{
			margin-top: 5.5px;
		@include screen('mobile'){
			padding: .5rem;
			margin-top: 0;
		}
		@include screen('smartphone'){
			padding: .5rem;
			margin-top: 0;
		}
		@include screen('smartphone-landscape'){
			padding-top: 0;
		}
		@include screen('tablet'){
			padding-top: 0;
			}
		}

	& p{
		border-bottom: 3px solid white;
	}
}
& p{
	margin-bottom: 0 !important;
}
}

.nav__ico{
	font-size: 1.6rem;
}

.logout__icon,
.login__icon{
	margin-left: auto;
	@include screen('mobile'){
		margin-left: 0;
	}
	@include screen('smartphone'){
		margin-left: 0;
	}
	@include screen('smartphone-landscape'){
		margin-left: 0;
	}
	@include screen('tablet'){
		margin-left: 0;
	}
}

.add__user{
	margin-right: auto;
	@include screen('mobile'){
		margin-left: 0;
	}
	@include screen('smartphone'){
		margin-left: 0;
	}
	@include screen('smartphone-landscape'){
		margin-left: 0;
	}
	@include screen('tablet'){
		margin-left: 0;
	}
}



.register__box{
	position: absolute;
	display: none;
	padding: 15px;
	width: 250px;
	height: 120px;
	background: #f4Eff4;
	right: 0;
	color: #000000;
	font-size: 1.1rem;
	z-index: 99;
	margin-top: 13px;
	-webkit-box-shadow: -10px 10px 23px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: -10px 10px 23px -10px rgba(0,0,0,0.75);
	box-shadow: -10px 10px 23px -10px rgba(0,0,0,0.75);
		@include screen('mobile'){
			visibility: hidden; 
		}
		@include screen('smartphone'){
			visibility: hidden; 
		}
		@include screen('smartphone-landscape'){
			visibility: hidden; 
		}
		@include screen('tablet'){
			visibility: hidden; 
		}
}

.btn__register{
	margin-top: 25px;
	margin-left: 5%;
}

.no-button{
	border: none;
	background: #dc3545;
	color: #ffffff;
	&:hover{
		background: #c82333;
	}
}

.register__icon__mobile{
	display: none;
	 @include screen('mobile'){
	 	display: block;
	 }
	 @include screen('smartphone'){
	 	display: block;
	 }
}

.nav-link{
		&.active:hover::after {
			width: 0%;
		}
			&::after {
			    content: '';
			    display: block;
			    width: 0;
			    height: 2px;
			    background: #dc3545;
			    transition: width .3s;
			}
				&:hover::after {
				    width: 100%;
				}
}

.navbar-nav{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	@include screen('mobile'){
		width: 40%;
	}
	@include screen('smartphone'){
		width: 40%;
	}
	@include screen('smartphone-landscape'){
		width: 25%;
	}
	@include screen('tablet'){
		width: 20%;
	}
}

.navbar-toggler{
	margin-top: 15px;
	margin-bottom: 15px;
}

.intro{
	text-align: center;
	font-size: 2.3rem;
	font-weight: 600;
	padding: 30px;
		@include screen('mobile'){
			font-size: 1.2rem !important;
		}
		@include screen('smartphone'){
			font-size: 1.5rem !important;
		}
}

.intro__section{
	display: flex;
	flex-wrap: wrap;
	margin-top: 50px;
}

.info{
	font-size: 1rem;
}

.description{
	background-image: url(../img/psp_logo_35.png);
	background-repeat: no-repeat;
	background-position: center;
	line-height: 1.8;
	font-size: 1.1rem;
	font-weight: 600;
	& .description__item{
		font-size: 1.6rem;
		font-style: italic;
		margin-bottom: 50px;
}
	@include screen('mobile'){
		 background-size: 100%;
	}
	@include screen('smartphone'){
		 background-size: 100%;
	}
	@include screen('smartphone-landscape'){
		 background-size: 100%;
	}
	@include screen('mobile'){

	}
}


.btn__addJrg{
	margin-top: 25px;
	padding: .5rem 4rem !important;
}
.text-secondary{
	font-weight: 300;
}

.modal-dialog{
	max-width: 1000px !important;
}

#myModal3{
		margin: 20vh auto auto auto;
	.reset_box{
		margin: auto;
}
	.modal-footer{
		margin-top: 50px;
	}
}

footer{

	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #212529;
	color: #ffffff;
}